<!DOCTYPE html>
<html class="ie9" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:replace="default/default :: head('Super Admin Responsive Template','')"></head>
    <body id="skin-blur-violate">
        <!-- 新消息 -->
        <header th:replace="~{default/default:: header}"></header>

        <div class="clearfix"></div>
        
        <section id="main" class="p-relative" role="main">
            
            <!-- Sidebar 左侧菜单以及个人信息 -->
            <aside th:replace="~{default/default:: aside}"></aside>
            <!-- Content -->
            <section id="content" class="container">
            
                <!-- Messages Drawer -->
                <aside th:replace="~{default/default:: messages}"></aside>
                
                <!-- Notification Drawer -->
                <aside th:replace="~{default/default:: notifications}"></aside>
                <!-- Breadcrumb 面包屑 -->
                <div th:replace="default/default :: breadcrumb('INDEX')" ></div>


                
                <hr class="whiter" />
                



                <hr class="whiter" />
                


            </section>
        </section>
        
        <!-- Javascript Libraries -->
        <div th:replace="default/default :: js('')"></div>
    </body>
</html>
